* {
    margin: 7px;
    padding: 0;
    box-sizing: border-box;
}

@import 'index.css';
:root {
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary: #070606;
}


.box {
    align-items: center;
    width: 700px;
    border: 2px solid black;
    padding: 40px;
    margin: 20px;
}


.box h3 {  
    background-color: red;
    color: white;
    font-size: 35px;
    margin-top: 5px;  
}


.head {
    background-color: #ab183d;
    color: var(--light);
    align-items: center;
    width: 95%;
    border: 2px solid black;
    padding: 40px;
    margin: 20px;
}


.x {
    color: var(--light);
    margin: 10px;
    font-size: 25px;
    justify-content: space-evenly;
    /* text-decoration: none; */
    align-items: center;
}

.head1 {
    font-size: 65px;
}

.latest_news {
    height: 25px;
    width: 1000px;
    text-align: center;
    line-height: 25px;
}


.online {
    height: 60px;
    width: 1000px;
    background: red;
    align-items: center;
    justify-content: space-around;
}


.boxes {
    height: 56px;
    width: 246px;
    background: orange;
    margin: 2px;
    float: left;
    text-align: center;
    font-size: 20px;
}


.container1 {
    min-height: auto;
    height: auto;
    width: auto;
    background: #ccc;
}

.card {
    /* min-height: 1000px; */
    height: auto;
    width: auto;
    border: 5px solid #ab183d;
    float: left;
    margin: 10px;
}

.container1 .card .card-header p {
    background: #ab183d;
    color: white;
}

.container1 .card .card-body ul li {
    margin: 10px;
}
.card-header {
    height: auto;
    width: 500px;
    /* line-height: 40px; */
    font-weight: bold;
    font-size: 30px;
}


.card-body {
    height: auto;
    width: auto;
    float: left;
}


.ch1 {
    /* background-color: red; */
    background-color: #ab183d;
    color: white;
}